<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
 
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/" >
 
    <appender name="log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Threshold" value="ERROR"/>
        <param name="File" value="error.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-16.16t][%30c{-3}] - %m%n"/>
        </layout>
    </appender>
    
    <appender name="test" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-16.16t][%30c{-4}] - %m%n"/>
        </layout>
    </appender>
 
    <logger name="com.epam.doiun">
        <level value="DEBUG"/>
        <appender-ref ref="log"/>
        <appender-ref ref="test"/>
    </logger>
</log4j:configuration>