<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebShop</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>captchaManager</param-name>
    <param-value>com.epam.doiun.captcha.SessionCaptchaManagerImpl</param-value>
  </context-param>
  <context-param>
    <param-name>captchaTimeout</param-name>
    <param-value>600</param-value>
  </context-param>
  <context-param>
    <param-name>rootMediaFolder</param-name>
    <param-value>D:\Projects\WebShopStorage\</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>l10n</param-value>
  </context-param>
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>com.epam.doiun.filter.AccessFilter</filter-class>
    <init-param>
      <param-name>file</param-name>
      <param-value>security.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>GZipFilter</filter-name>
    <filter-class>com.epam.doiun.filter.gzip.GZipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZipFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LocalizationFilter</filter-name>
    <filter-class>com.epam.doiun.filter.localization.LocalizationFilter</filter-class>
    <init-param>
      <param-name>defaultLocale</param-name>
      <param-value>en</param-value>
    </init-param>
    <init-param>
      <param-name>locales</param-name>
      <param-value>en ru</param-value>
    </init-param>
    <init-param>
      <param-name>saveType</param-name>
      <param-value>session</param-value>
    </init-param>
    <init-param>
      <param-name>cookieLifeTime</param-name>
      <param-value>3600</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LocalizationFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.epam.doiun.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/jsp/accessForbidden.jsp</location>
  </error-page>
</web-app>